<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773597152207-pmapph5bl0jg1i4gj6roqmpjot01eu9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773597152207-pmapph5bl0jg1i4gj6roqmpjot01eu9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBcr7Cr4sirldG2g4VeuSp05K3n3xtGSDM</string>
	<key>GCM_SENDER_ID</key>
	<string>773597152207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saijannali.FirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>fir-bootcamp-6b48c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-bootcamp-6b48c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773597152207:ios:9fbc2ee3125e7bd6d108ba</string>
</dict>
</plist>